<% layout('layouts/boilerplate')%>
<h1>Please give below Information</h1>
<form
  action="/farmer/addInfo"
  method="POST"
  class="validated-form"
  novalidate
  style="margin-bottom: 10vh"
>
  <div class="mb-3">
    <label class="form-label" for="farmArea">Farm Area (Area)</label>
    <input
      class="form-control"
      type="text"
      id="farmArea"
      name="farmArea"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>

  <button class="btn btn-success">Add Information1</button>
</form>
