<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <title>Footer</title>
  </head>

  <body>
    <footer
      data-test="footer"
      class="page-footer blue-grey page-footer font-small lighten-5 pt-0"
      id="footer"
    >
      <div style="background-color: rgb(0, 143, 17)">
        <div data-test="container" class="container">
          <div data-test="row" class="row py-4 d-flex align-items-center">
            <div
              data-test="col"
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0" style="color: white">
                Get connected with us on social networks!
              </h6>
            </div>
            <div
              data-test="col"
              class="col-md-6 col-lg-7 text-center text-md-right"
            >
              <a
                class="fb-ic text-decoration-none"
                href="/"
                style="margin-right: 10px"
              >
                <i class="fab fa-facebook-f text-light mr-lg-4"> </i>
              </a>
              <a
                class="tw-ic text-decoration-none"
                href="/"
                style="margin-right: 10px"
              >
                <i class="fab fa-twitter text-light mr-lg-4"></i>
              </a>
              <a
                class="gplus-ic text-decoration-none"
                href="/"
                style="margin-right: 10px"
              >
                <i class="fab fa-google-plus-g text-light mr-lg-4"> </i>
              </a>
              <a
                class="li-ic text-decoration-none"
                href="/"
                style="margin-right: 10px"
              >
                <i class="fab fa-linkedin-in text-light mr-lg-4"> </i>
              </a>
              <a
                class="ins-ic text-decoration-none"
                href="/"
                style="margin-right: 10px"
              >
                <i class="fab fa-instagram text-light mr-lg-4"> </i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        data-test="container"
        class="mt-5 mb-4 text-center text-md-left"
        style="width: 85%; margin: auto"
      >
        <div data-test="row" class="row mt-3">
          <div
            data-test="col"
            class="col-md-3 col-lg-3 col-xl-3 mb-4 dark-grey-text text-md-start"
          >
            <h6 class="text-uppercase font-weight-bold">
              <strong>Agro Easy</strong>
            </h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p style="width: 100%">
              Our vision is to empower the next generation of the agricultural
              ecosystem by leveraging the power of technology. The purpose of
              AgroEasy is to provide connections between different roles in the
              agriculture industry including the Farmers, Suppliers and the Farm
              Workers ,bringing them closer for easy exchange of products and
              services.
            </p>
          </div>
          <div
            data-test="col"
            class="col-md-2 col-lg-2 col-xl-2 mb-4 dark-grey-text"
          >
            <h6 class="text-uppercase font-weight-bold">
              <strong>Links</strong>
            </h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p><a class="dark-grey-text" href="/farmer">Famer</a></p>
            <p><a class="dark-grey-text" href="/worker">worker </a></p>
            <p><a class="dark-grey-text" href="/supplier">Supplier</a></p>
            <p><a class="dark-grey-text" href="/worker/jobs">Jobs</a></p>
          </div>
          <div
            data-test="col"
            class="col-md-3 col-lg-3 col-xl-4 mb-4 dark-grey-text text-md-start"
            style="padding-left: 7%"
          >
            <h6 class="text-uppercase font-weight-bold">
              <strong>Contact</strong>
            </h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px"
            />
            <p>
              <i class="fa fa-home mr-3" style="margin-right: 10px"></i> Pune,
              India
            </p>
            <p>
              <i class="fa fa-envelope mr-3" style="margin-right: 10px"></i>
              agroeasy@gmail.com
            </p>
            <p>
              <i class="fa fa-phone mr-3" style="margin-right: 10px"></i> +91
              2345678899
            </p>
            <p>
              <i class="fa fa-print mr-3" style="margin-right: 10px"></i> +91
              2345678999
            </p>
          </div>
          <div
            data-test="col"
            class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text text-md-start"
          >
            <h6 class="text-uppercase font-weight-bold text-center">
              <strong>Get in touch</strong>
            </h6>
            <form class="">
              <div class="form-group">
                <label class="form-label" for="formBasicEmail"
                  >Email address</label
                ><input
                  placeholder="Email"
                  type="email"
                  id="formBasicEmail"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label class="form-label" for="formBasicPassword">Comment</label
                ><textarea
                  rows="3"
                  placeholder="Write Your Thoughts"
                  type="text"
                  id="formBasicPassword"
                  class="form-control"
                ></textarea>
              </div>
              <br />
              <button type="submit" class="btn btn-primary">
                Send message
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-copyright text-center py-3">
        <div id="selectLanguage">
          <div id="google_translate_element">Select Language</div>
        </div>
        <div data-test="container" class="container-fluid">
          © 2021 Copyright: Team Runtime Terror, VIIT Pune <br />
          Finalist - STAR Hackathon 2021
        </div>
      </div>
    </footer>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "hi,en,ur,kn,bn,ta,te,gu,mr,ml",
          },
          "google_translate_element"
        );
      }
    </script>

    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <!--Font Awesome script-->
    <script
      src="https://kit.fontawesome.com/cc21f63f8e.js"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
