<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top text-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home">
            <img class="logo" src="/Asset/logo1.png" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/home#services">Our Services</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="/farmer"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Farmer
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/farmer/products"
                      >Buy Agro Products</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/farmer/equipments"
                      >Rent Farm Equipments</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/farmer">Explore More</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="/supplier"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Supplier
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/supplier/products"
                      >Sell Agro Products</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/supplier/equipments"
                      >Lend Farm Equipments</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/supplier">Explore More</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="/worker"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Worker
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li>
                    <a class="dropdown-item" href="/worker/jobs">Find Work</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/worker/profile/edit"
                      >Update Profile</a
                    >
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/worker">Explore More</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tutorial">Guide </a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#footer">Contact Us </a>
              </li>
            </ul>

            <a class="navbar-brand" href="#selectLanguage">
              <img class="logo-2" src="/Asset/language.png" />
            </a>

            <% if(!currentUser) {%>
            <a
              type="button"
              class="btn btn-outline-warning mr-3"
              href="/user/register"
              >Register</a
            >
            <a type="button" class="btn btn-outline-warning" href="/user/login"
              >Login</a
            >
            <% } else {%>
            <a type="button" class="btn btn-outline-warning" href="/user/logout"
              >Logout</a
            >
            <% } %>
          </div>
        </div>
      </nav>
    </header>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
