<body>
  <%- include('./partials/navbar.ejs')%>
  <div style="text-align: center">
    <div class="container" style="padding-top: 15vh; padding-bottom: 10vh">
      <h1>Video Tutorial</h1>
      <br />
      <h4>
        Welcome to Agro Easy, Here's a short step by step tutorial to help you
        for use our application easily.
      </h4>
      <p>
        Our Purpose is to bridge the existing gap between the stakeholders in
        the current agricultural ecosystem enabling greater efficiency and
        productivity. To Empower farmers to increase their profits And to Help
        Farm Workers to get their fair share.
      </p>
      <br />

      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          style="height: 55%; width: 60%; padding-top: 5vh"
          src="https://www.youtube.com/embed/JC9G0axum8I"
          allowfullscreen="true"
        ></iframe>
      </div>
    </div>
  </div>
  <%-include('./partials/footer.ejs')%>

  <script
    type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
  ></script>
  <!--Font Awesome script-->
  <script
    src="https://kit.fontawesome.com/cc21f63f8e.js"
    crossorigin="anonymous"
  ></script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"
  ></script>
</body>
