* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.backg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../Asset/photo-1.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.logo {
  max-width: 4rem;
  min-width: 3rem;
  transition: transform 0.2s;
}

.logo:hover {
  transform: scale(1.3);
}

.navbar {
  padding: 0 5rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
  font-size: 1.2rem;
  padding: 0 1.2rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover {
  color: rgb(241, 140, 46);
}

.logo-font {
  font-family: "Sacramento", cursive;
  font-size: 3.5rem;
  font-weight: 500;
  color: white;
  transition: transform 0.2s;
  width: 20%;
}

.logo-font:hover {
  color: rgb(248, 131, 85);
  transform: scale(1.05);
}

#navbarSupportedContent > button {
  font-weight: 700;
  padding: 0.4rem 1.4rem;
  border-radius: 30px;
}

.carousel-indicators li {
  display: none;
}

.back1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../Asset/photo-1.jpg);
  background-position: top;
}

.back2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../Asset/photo-4.jpg);
  background-position: center;
}

.back3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(../Asset/photo-3.jpg);
  background-position: center;
}

.back1,
.back2,
.back3 {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon {
  width: 15rem;
  height: 15rem;
  max-width: 17rem;
  transition: transform 0.2s;
}

.icon:hover {
  transform: scale(1.3);
}

.select-font {
  font-family: "Sacramento", cursive;
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  color: black;
  text-align: center;
}

.select {
  padding-top: 3vh;
  padding-bottom: 5vh;
}

.main-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding-left: 15px;
  transition: transform 0.2s;
  width: 100%;
  text-align: center;
  padding-bottom: 2vh;
}

footer {
  background-color: #0f0d0d;
  color: white;
  text-align: center;
}

.card-title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
}
