<% layout('layouts/boilerplate')%>

<div class="col-md-8 offset-md-2">
    <h1>Get the latest updates related to farming!</h1>
    <a class="twitter-timeline" data-height="1000" data-theme="light" href="https://twitter.com/MayurBhor13/lists/1400812183865356289?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>