<% layout('layouts/boilerplate')%>
<div class="text-center">
  <h1>Register</h1>
</div>
<form
  action="/user/register"
  method="POST"
  class="validated-form container"
  novalidate
  style="padding-bottom: 10vh"
>
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input
      class="form-control"
      type="text"
      id="username"
      name="username"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="contact">Contact</label>
    <input
      class="form-control"
      type="number"
      id="contact"
      name="contact"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="address">Address</label>
    <input
      class="form-control"
      type="text"
      id="address"
      name="address"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="city">City</label>
    <input class="form-control" type="text" id="city" name="city" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="text-center">
    <button class="btn btn-success">Register</button>
  </div>
  <div class="d-flex mt-3">
    <h5 >Already have an account ?</h5>
    <a href = "/user/login" class="ml-3"><h5>Login</h5></a>
  </div>
</form>

